<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter34294965 = new Ya.Metrika({ id:34294965, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/34294965" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
{{#reload}}
<meta http-equiv="refresh" content="{{refresh_rate}}">
{{/reload}}

<title>{{title}}</title>
<style type="text/css">
{{{style}}}
</style>
</head>

<body class="">

<div class="container">
    <div class="resume">
        {{{resume}}}
    </div>
</div>

</body>
</html>